<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Florinda", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
    <div class="containter flex">
      <nav class="hidden lg:block lg:border-r">
        <div class="sticky top-0 h-screen bg-gray-50 w-80">
          <ul class="pt-10 px-6 text-sm">
            <li><a href={Routes.aircrafts_path(@conn, :index)} class="block p-1 hover:underline">Aircrafts</a></li>
            <li><a href={Routes.airports_path(@conn, :index)} class="block p-1 hover:underline">Airports</a></li>
            <li><a href={Routes.bookings_path(@conn, :index)} class="block p-1 hover:underline">Bookings</a></li>
            <li><a href={Routes.flights_path(@conn, :index)} class="block p-1 hover:underline">Flights</a></li>
            <li><a href={Routes.tickets_path(@conn, :index)} class="block p-1 hover:underline">Tickets</a></li>
          </ul>
        </div>
      </nav>
      <div class="w-full">
        <%= render "_search.html", conn: @conn %>
        <%= @inner_content %>
      </div>
    </div>
  </body>
</html>
