<section class="px-5">
  <h1 class="py-3 text-3xl font-bold">Flights</h1>
  <%= render("_table.html", conn: @conn, entries: @page.entries) %>
  <%= render(FlorindaCtl.SharedView, "pagination.html", conn: @conn, page: @page) %>
</section>
