<div class="px-5 py-6 gap-x-2 flex text-sm text-gray-500 font-medium">
  <div><span>&copy; Florinda</span></div>
  <div><span>&middot;</span></div>
  <div><span>Contact</span></div>
  <div><span>&middot;</span></div>
  <div><span>Privacy & terms</span></div>
</div>
