<div class="text-xs text-gray-500">
  This site is protected by reCAPTCHA and the Google
  <a class="hover:underline" href="https://policies.google.com/privacy" target="_blank">Privacy Policy</a> and
  <a class="hover:underline" href="https://policies.google.com/terms" target="_blank">Terms of Service</a> apply.
</div>
